/** Button Header **/
.btn-header-menu {
    background: #F34D5F;
    border-radius: 5px;
}

.btn-header-menu:hover {
    background-color: rgba(243, 77, 95, .5) !important;
}

.header .header-menu .menu-nav>.menu-item:hover:not(.menu-item-here):not(.menu-item-active)>.menu-link,
.header .header-menu .menu-nav>.menu-item.menu-item-hover:not(.menu-item-here):not(.menu-item-active)>.menu-link {
    background-color: rgba(243, 77, 95, .5) !important;

}

.btn-header-menu>.menu-text {
    color: #fff !important;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 19px;
}

/** FONT SETTING **/
.font-poppins {
    font-family: Poppins;
}

/** DATATABLES PAGINATION LEFT **/
.dataTables_wrapper .dataTables_paginate {
    float: left;
    text-align: right;
    padding-top: 0.25em;
}

/** NAV TABS **/
.nav.nav-tabs.nav-tabs-line .nav-link:hover:not(.disabled),
.nav.nav-tabs.nav-tabs-line .nav-link.active,
.nav.nav-tabs.nav-tabs-line .show>.nav-link {
    background-color: transparent;
    border: 0;
    border-bottom: 3px solid #31A2F9;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
}

.nav.nav-tabs.nav-tabs-line .nav-link .nav-text {
    font-family: Poppins;
    font-style: normal;
    font-weight: 800;
    letter-spacing: 3px;
}

.nav.nav-pills .show > .nav-link, .nav.nav-pills .nav-link.grey.active {
    color: #2393E9 !important;
    background-color: #EEF0F8;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
}

.nav.nav-pills .show > .nav-link .nav-text, .nav.nav-pills .nav-link.grey.active .nav-text {
    color: #2393E9 !important;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
}

/** SELECT 2 **/
.select2-container--default .select2-selection--single .select2-selection__rendered {
    display:block !important;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: #464E5F;
    position: relative;
    padding: 0.65rem 3rem 0.65rem 1rem;
    line-height: 1.5;
}

.select2-container--default .select2-selection--single .select2-selection__rendered .select2-selection__clear {
    top: 15px !important;
    color: #F34D5F;
}